<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<title>DB금융투자 HTS 도움말</title>
<link href="./resources/img/favicon.ico" rel="shortcut icon" type="image/ico" />
<link rel="stylesheet" href="./resources/css/noto-sans-kr.css">
<link rel="stylesheet" href="./resources/css/foundation.css">
<link rel="stylesheet" href="./resources/foundation-icons/foundation-icons.css" />
<link rel="stylesheet" href="./resources/jquery/fancytree/skin-lion/ui.fancytree.css">
<link rel="stylesheet" href="./resources/css/global.css">
<style>
</style>
</head>

<body>


<div class="grid-y medium-grid-frame">
	
	<!-- Navigation -->
	<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small" style="display: none;">
	  <button class="menu-icon" type="button" data-toggle></button>
	  <div class="title-bar-title">Menu</div>
	</div>
	
	<div>
		<div class="top-bar">
		  <div class="top-bar-left">
		    <ul class="menu" data-responsive-menu="accordion">
		      <li class="menu-text">			
		      	<div class="logo-img"></div>
		      	<div class="logo-text">온라인매뉴얼</div>
			  </li>
		      <li th:each="item : ${group}" th:class="|${item.className}|" >
		      	<a th:href="|./${item.groupId}.html|" th:text="${item.name}"></a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
	
	<div class="bf-body-wrapper">
	
	<div class="grid-x contents-grid-wrapper">
		
		<!-- 좌측 컨텐츠그룹 선택 및 메뉴 구조 TREE -->
		<div class="cell small-3 tree-wrapper">
			<div id="search-wrapper">
				<input id="input-search" name="search" placeholder="검색어 입력" autocomplete="off">
				<button id="btnResetSearch">&times;</button>
				<i class="fi-magnifying-glass"></i>
				<span id="matches"></span>
			</div>
			<div id="tree"></div>
		</div>
		
		<!-- 컨텐츠 상세내용 --> <!-- 706px for A4 -->
		<div class="cell small-9 contents-wrapper">
		  <div class="grid-x" style="height: calc(100% - 7px);">
		    <iframe id="contents-detail" name="ifrm" class="cell" width="100%" height="100%" frameborder="0" border="0" style="border:0;"></iframe>
		  </div>
	    </div>
		
	</div>
	
	</div>
	
	<div class="cell shrink footer">
	  <div class="grid-x">
		  <div class="footer-text cell small-10 text-center">© 2020 DB금융투자 Co., Ltd.</div>
		  <div class="cell small-2"><img src="./resources/img/logo.svg" style="width: 105px; margin-right: 36px;" class="float-right"></div>
	  </div>
	</div>

</div>

<script src="./resources/jquery/jquery-3.5.1.min.js"></script>
<script src="./resources/jquery/jquery-ui.min.js"></script>
<script src="./resources/jquery/fancytree/jquery.fancytree.min.js"></script>
<script src="./resources/jquery/fancytree/modules/jquery.fancytree.filter.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var SOURCE = [[${tree}]];
window.alert = function(message) {
	var x = document.getElementById("snackbar");
	x.className = "show";
	x.innerText = message;
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
function loadContents(id) {
	$(".spinner").show();
	location.href = "/doc#" + id;
}
function search(id) {
	var keyword = $("#input-search").val();
	if (keyword && keyword.length>0) {
		$.ui.fancytree.getTree().filterNodes(keyword, {autoExpand: true, mode: 'dimm', leavesOnly: false});
		$("#btnResetSearch").attr("disabled", false);
		$("#btnResetSearch").show();
	} else {
		$.ui.fancytree.getTree().clearFilter()
		$("#btnResetSearch").hide();
  }
}
function goHashLocation() {
  var key = window.location.hash.substr(1)?window.location.hash.substr(1):'';
  var _tree = $.ui.fancytree.getTree();
	if (key && key.length>0) {
	  var selectedNode = _tree.getNodeByKey(key);
	  selectedNode.setActive();
	  $("#contents-detail").attr("src", key + ".html");
	} else {
		$.ui.fancytree.getTree().visit(function(node) {
		  if (typeof(node.folder)=='undefined') {
			  node.setActive();
			  $("#contents-detail").attr("src", node.key + ".html");
			  location.href = "#" + node.key;
			  return false;
		  }
		});
	}
}
function initEventListener() {
  $(".fancytree-folder .fancytree-title").attr('tabindex', '-1');
  $("#btn-expand-all").click(expandAll);
  $("#btn-collapse-all").click(collapseAll);
  $("#input-search").keyup(search);
  $("#btnResetSearch").click(function(e){
	$("#input-search").val("");
	$.ui.fancytree.getTree().clearFilter();
	$("#btnResetSearch").hide();
  });
}
function expandAll() {
  $.ui.fancytree.getTree().expandAll();
}
function collapseAll() {
  $.ui.fancytree.getTree().expandAll(false);
}
function initTree() {
  $('#tree').fancytree({
    extensions: ["filter"],
	quicksearch: true,
	filter: {
      counter: false,
	  autoExpand: true,
	  mode: "hide" // "dimm", "hide"
	},
    checkbox: false,
    selectMode: 3,
    source: JSON.parse(SOURCE),
    nodata: '검색된 도움말이 없습니다',
    click: function(e, data){
      var node = data.node;
      var key = node.key;
      if (typeof(node.folder)==='undefined' && key) {
    	  $("#contents-detail").attr("src", key + ".html")
    	  location.href = "#" + key;
      } else if (node.folder) {
    	  node.toggleExpanded();
      }
    },
    close: function(e, data){
      initEvents();
    }
  });
}

$(function(){
  initTree();
  initEventListener();
  goHashLocation();
});
/*]]>*/
</script>

</body>
</html>